<mat-card class="container">
    <mat-card-title>Koszyk</mat-card-title>
    <div class="product-container">
      <mat-form-field>
        <mat-label>Imię:</mat-label>
        <input matInput type="text" id="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nazwisko:</mat-label>
        <input matInput type="text" id="surname" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adres:</mat-label>
        <input matInput type="text" id="address" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input matInput type="text" id="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Numer karty:</mat-label>
        <input matInput type="text" id="card_num" required>
      </mat-form-field>
      <button mat-raised-button (click)="printData()">Zaakceptuj</button>
    </div>
  </mat-card>
  