<mat-card class="container">
    <mat-card-title>Koszyk</mat-card-title>
    <div class="product-container">
      <div class="product-image">
        <img src="sciezka/do/zdjecia-produktu" alt="Zdjęcie produktu">
      </div>
      <div class="product-details">
        <div class="product-price">
          Cena: <span id="price">29.99 zł</span>
        </div>
        <div class="quantity">
          Ilość:
          <button mat-icon-button id="decrement"><mat-icon>remove</mat-icon></button>
          <span id="quantity">1</span>
          <button mat-icon-button id="increment"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div>
  </mat-card>
  