<div class="wrapper">
  <mat-toolbar color="primary" class="navbar">
    <h1>VEAS</h1>
    <a routerLink="/koszyk" class="cart-link"><mat-icon>shopping_cart</mat-icon></a>
    <a routerLink="/home" class="home"><mat-icon>home</mat-icon></a>
    <a routerLink="/signin" class="login">Signin</a>
    <a routerLink="/finalization" class="login">Buy</a>
  </mat-toolbar>

  <ul class="category-list">
    <li><a mat-list-item routerLink="/kategoria">Bluzy</a></li>
    <li><a mat-list-item routerLink="/kategoria1">Koszulki</a></li>
    <li><a mat-list-item routerLink="/kategoria2">Kurtki</a></li>
    <li><a mat-list-item routerLink="/kategoria3">Spodnie</a></li>
    <li><a mat-list-item routerLink="/kategoria4">Buty</a></li>
  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary" class="footer">
    <p>&copy; 2023 Veas Sklep z odzieżą. Wszelkie prawa zastrzeżone.</p>
  </mat-toolbar>
</div>
